body{
margin:0;
font-family:Arial;
}


/* NAVBAR */

.navbar{

background:black;
color:white;
padding:20px;
position:relative;

}


.logo{

font-size:25px;
display:inline-block;

}


.links{

position:absolute;
right:20px;
top:20px;

}

.links a{

color:white;
text-decoration:none;
margin-left:20px;
font-size:18px;

}

.links a:hover{

color:orange;

}


/* FOOTER */

footer{

background:black;
color:white;
text-align:center;
padding:15px;
position:fixed;
bottom:0;
width:100%;

}